<app-navbar></app-navbar>

<div class="flex justify-center text-white bg-blue-700 h-screen">
    <div class="">
        <form class=" border border-slate-950 pl-2 pr-6 py-6 rounded" >
            <h3 class="text-2xl text-center font-bold">Reset Password</h3>
            <div>
                <label>Enter your email address:</label> <br>
                <input class="w-60" type="email" placeholder="Please enter your email address">
            </div>
            <div class="flex justify-center items-center">
                <button >Reset password</button>
            </div>
        </form>

    </div>
    
</div>
