
<div class="bg-blue-700">
    <div class="mx-2 list-none flex justify-between py-3 ">
      <!-- <div>
        <!-- <h1>Uliza</h1> -->
      <!-- </div> --> 
      <div class="list-none flex pl-2 " >
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li class="pl-2"><a [routerLink]="['/users/dashboard']" routerLinkActive="active">Dashboard</a></li>
        <li class="pl-2"><a [routerLink]="['/questions']" routerLinkActive="active">Questions</a></li>
        <li class="pl-2"><a [routerLink]="['/answers']" routerLinkActive="active">Answers</a></li>
      </div>
      <div>
        <input class="rounded-lg" type="search" placeholder="search">
      </div>
      <div class="pr-14">
        <li class="pl-10"><a [routerLink]="['/users/login']" routerLinkActive="active">Account</a></li>
      </div>  
    </div>
  </div>
