<app-navbar> </app-navbar>

<div class="bg-blue-700 h-screen ">
    <div class="flex justify-between">
            <!-- questions -->
        <div>
            <h3>My questions</h3>
            <div>
                <p>The difference between prompt to build and always build</p>
                <p>The difference between prompt to build and always build</p>
                <p>The difference between prompt to build and always build</p>
                <p>The difference between prompt to build and always build</p>
                <p>The difference between prompt to build and always build</p>
                <p>The difference between prompt to build and always build</p>
            </div>
        </div>


        <!-- answers -->
        <div>
            <h3>My answers</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

    </div>
   
</div>
