<app-navbar></app-navbar>

<div class="flex justify-center text-white bg-blue-700 h-screen">
    <div>
        <form class="border py-6 pl-2 pr-6 w-80">
            <h3 class="text-center font-bold">Sign Up</h3>
            <div class="py-2">
                <label>Email Address:</label> <br>
                <input class="bg-blue-700" type="email" placeholder="Enter your email">
            </div>
            <div class="py-2">
                <label>Full name:</label> <br>
                <input class="bg-blue-700" type="text" placeholder="Enter your full name">
            </div>
            <div class="py-2">
                <label>Username:</label> <br>
                <input class="bg-blue-700" type="text" placeholder="Enter your username">
            </div>
            <div class="py-2">
                <label>Password:</label> <br>
                <input class="bg-blue-700" type="password" placeholder="Enter your password">
            </div>
            <div class="py-2">
                <label>Confirm Password:</label> <br>
                <input class="bg-blue-700" type="password" placeholder="Confirm your password">
            </div>
            <div class="flex justify-center py-2">
                <button class="bg-black px-2 py-2 rounded">Register</button>
            </div>
            
            <p>Have an account? <a class="text-red-600 cursor-pointer" (click)="goToLoginPage()">sign in</a></p>
        </form>

    </div>
    
</div>
