<app-navbar> </app-navbar>
<div class="bg-blue-700 h-screen">
    <div class="mx-4">
        <div>
            <form >
                <h3>Add questions </h3>
                <div class="grid">
                    <label >Question</label>
                    <input class="w-1/5 border" type="text" placeholder="Question heading">
                </div>
                <div class="mt-10 grid w-2/5">
                    <label >Body</label>
                    <textarea class="border" name="Body" id="" cols="30" rows="10"></textarea>
                </div>
                <button>Send Question </button>
            </form>
        </div>
    </div>
</div>
