<app-navbar></app-navbar>

<div class="bg-blue-700 flex justify-between h-screen">
    <div>
        <h3>Users </h3>
        <div class="flex">
            <p>Kelvin Ngeiywa</p>
            <p class="ml-20">Deelete</p>
        </div>
        <div class="flex">
            <p>Kelvin Ngeiywa</p>
            <p class="ml-20">Deelete</p>
        </div>
        <div class="flex">
            <p>Kelvin Ngeiywa</p>
            <p class="ml-20">Deelete</p>
        </div>
        <div class="flex">
            <p>Kelvin Ngeiywa</p>
            <p class="ml-20">Deelete</p>
        </div>
    </div>
    <div class="mr-10" >
        <h3>Questions</h3>
        <div class="flex">
            <p>Restaurant developer, creating assessment</p>
            <p class="ml-20">Delete</p>
        </div>
        <div class="flex">
            <p>Restaurant developer, creating assessment</p>
            <p class="ml-20">Delete</p>
        </div>
        <div class="flex">
            <p>Restaurant developer, creating assessment</p>
            <p class="ml-20">Delete</p>
        </div>
        <div class="flex">
            <p>Restaurant developer, creating assessment</p>
            <p class="ml-20">Delete</p>
        </div>
    </div>
</div>
