<app-navbar></app-navbar>
<div class="px-2 py-2 bg-blue-700 h-screen overflow-y-auto">
    <div class="flex" >
        <div class="">
            <div>
                <h4>HOME</h4>
            </div>
            <div>
                <h4>PUBLIC</h4>
                <div>
                    <h5>Tags</h5>
                    <h5>Users</h5>
                    <h5>Companies</h5>
                </div>
            </div>
            
            <div>
                <h4>COLLECTIVES</h4>
                <div>
                    <h5>Explore collectives</h5>
                </div>
            </div>
            <div>
                <h4>TEAMS</h4>
            </div>
        </div>
        <div class="" >
            <div class="flex ml-20 ">
                <p>Top questions</p>
                <p (click)="goToAddQuestion()" class="ml-80">Ask question</p>
            </div>

            <div class="ml-20 my-2 px-10 border  ">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>

            <div class="ml-20 my-2 px-10 border ">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>

            <div class="ml-20 my-2 px-10 border">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>

            <div class="ml-20 my-2 px-10 border">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>

            <div class="ml-20 my-2 px-10 border">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>
            <div class="ml-20 my-2 px-10 border">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>
            <div class="ml-20 my-2 px-10 border">
                <h3>Remove unsafe-eval from CSP header from backend and want to add in frontend</h3>
                <div class="flex justify-center">
                    <p>Android</p>
                    <p class="pl-2">SDK</p>
                    <p class="pl-2">Android-studio</p>
                </div>
                <div class="flex justify-center">
                    <p>0 votes</p>
                    <p class="pl-2" >0 answers</p>
                    <p class="pl-2">2 views</p>
                </div>
            </div>
            
        </div>
        
        
    </div>
    <div class="footer">
        <p>footer section</p>
    </div>
</div>
